@font-face {
  font-family: 'Gotham'; /* Name your font family */
  src: url('../../assets/fonts/Gotham/gotham_medium.otf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'GothamLight'; /* Name your font family */
  src: url('../../assets/fonts/Gotham/gotham_light.otf'); /* Locate the .ttf file within your directory*/
}